<div id="popUpEmail">
  <div id="getOurEmailsContainer">
    <button>X</button>
    <h1>Get Our Emails</h1>
    <p>Sign up to receive Urban Outfitters emails and get first dibs on new arrivals, sales, exclusive content, events and more!</p>
    <form action="">
      <label for="">Email Address</label>
      <input type="text" style="width: 25vw; height: 30px;" required="required">
      <input class="emailBtn" type="submit">
    </form>
    <p>By entering your email address, you agree to receive Urban Outfitters offers, promotions, other commercial messages. You can view our Privacy Policy here and you may unsubscribe at any time.</p>
</div>
</div>