<div id="footer">
    <div id="emailContainer">
        <div id="emailInfo">
        <div>
          <p style="font-size: 15px; padding-bottom: 10px;">Get Our Emails</p>
          <p style="padding-bottom: 20px; color: rgb(129, 129, 129);">Sign up to receive Urban Outfitters emails and get first dibs on new arrivals, sales, exclusive content, events and more!</p>
        </div>
        <div>
          <form>
            <label for="email"><strong>Email Address*</strong></label> <br>
            <input id="emailInput" class="form-control me-2" type="email" required="required">
            <input id="emailSubmit" type="submit" value="Submit">
          </form>
        </div>
      </div>
      <p style="font-size: 10px; color: rgb(129, 129, 129);">By entering your email address, you agree to receive Urban Outfitters offers, promotions, other commercial messages. You can view our Privacy Policy here and you may unsubscribe at any time.</p>
    </div>
      
      <div id="externalLinks">
        <ul class="mainExternal">
          <li><strong>Help</strong></li>
          <li><a href="">Order Status</a></li>
          <li><a href="">Start A Return Or Exchange</a></li>
          <li><a href="">Returns + Exchanges</a></li>
          <li><a href="">Shipping</a></li>
          <li><a href="">Orders + Payments</a></li>
          <li><a href="">FAQ</a></li>
          <li><a href="">Product Recalls</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">See All Help Topics</a></li>
        </ul>
        <ul class="mainExternal">
          <li><strong>Quick Links</strong></li>
          <li><a href="">Brands</a></li>
          <li><a href="">Gift Cards</a></li>
          <li><a href="">Careers</a></li>
          <li><a href="">Shop Europe</a></li>
          <li><a href="">Shop Canada</a></li>
        </ul>
        <ul class="mainExternal">
          <li><strong>Extras</strong></li>
          <li><a href="">Afterpay</a></li>
          <li><a href="">UO MRKT</a></li>
          <li><a href="">UO Community</a></li>
          <li><a href="">UO Community Cares</a></li>
          <li><a href="">Creative Services</a></li>
          <li><a href="">Diversity & Inclusion</a></li>
          <li><a href="">UO Spaces</a></li>
        </ul>
        <ul id="storeLocator">
          <li><strong><a href="">Store Locator</a></strong></li>
          <li><strong><a href="">Get Email</a></strong></li>
        </ul>
      </div>
      <div id="socials">
        <div>
          <a href="https://apps.apple.com/us/app/uo/id358821736"><i class="fab fa-app-store-ios fa-3x"></i></a>
          <a href="https://play.google.com/store/apps/details?id=com.urbanoutfitters.android"><i class="fab fa-google-play fa-3x"></i></i></a> 
        </div>
        <div>
          <a href="http://instagram.com/urbanoutfitters?cm_sp=EXPANDED_FOOTER-_-SOCIAL-_-INSTAGRAM"><i class="fab fa-instagram fa-3x"></i></a>
          <a href="https://www.facebook.com/urbanoutfitters?cm_sp=EXPANDED_FOOTER-_-SOCIAL-_-FACEBOOK"><i class="fab fa-facebook-square fa-3x"></i></a> 
          <a href="http://www.pinterest.com/urbanoutfitters/happening-now?cm_sp=EXPANDED_FOOTER-_-SOCIAL-_-PINTEREST"><i class="fab fa-pinterest-square fa-3x"></i></a>
          <a href="http://twitter.com/urbanoutfitters?cm_sp=EXPANDED_FOOTER-_-SOCIAL-_-TWITTER"><i class="fab fa-twitter-square fa-3x"></i></a>
          <a href="https://www.tiktok.com/@urbanoutfitters?"><i class="fab fa-tiktok fa-3x"></i></a>
          <a href="http://www.youtube.com/user/uotv?cm_sp=EXPANDED_FOOTER-_-SOCIAL-_-YOUTUBE"><i class="fab fa-youtube-square fa-3x"></i></a>
          <a href="https://play.spotify.com/user/urbanoutfitters?cm_sp=EXPANDED_FOOTER-_-SOCIAL-_-SPOTIFY"><i class="fab fa-spotify fa-3x"></i></a>
        </div>
      </div>
      <div id="disclaimer">
        <a href="" style="border:none">Privacy Policy</a>
        <a href="">Terms of Use</a>
        <a href="https://assets.ctfassets.net/q602vtcuu3w3/4Vd9QnRuyksMGIm2MCYwEK/1f0059a67d714e2c04f236d35ab4ace5/california-transparency-in-supply-chains-act.pdf">CA Transparency</a>
        <a href="">Accessibility</a>
        <a href="https://www.urbn.com">URBN.com</a>
        <a href=""><strong style="font-size: 10px;">Do Not Sell My Info</strong></a>
      </div>
      <div id="copyright">
        © 2021 Urban Outfitters All Rights Reserved
      </div>
    </div>