<div class="popUp">
 
    <div id="loginContainer">
      <button class="closeBtn">x</button>
      <h1 id="loginHead">Sign In</h1>
      
      <div id="signInContainer">
      <div id="loginInfo">
        <p id="createInfo">Please enter your email address and password to create an account.</p>
        <form action="">
          <label for="email">Email*</label> <br>
          <input id="email" type="email" required="required">
          <label for="password">Password*</label> <br>
          <input id="password" type="password" required="required"> <br>
          <a href="">Show Password</a>
          <div id="styleContainer">
            <label for="stylePref">Email*</label> <br>
            <select name="stylePref" id="stylePref">
              <option value="none">I'd rather not say</option>
              <option value="men">Men</option>
              <option value="women">Women</option>
            </select>
            <p>
              By creating an account, you agree to receive Urban Outfitters marketing emails to get first dibs on new arrivals, sales, exclusive content and more! You may unsubscribe at any time. <br> <br>
           By creating an account, you agree to Urban Outfitters terms of use and privacy policy.   
            </p>
          </div>
          <input class="signIn" type="submit" value="Sign In">
        </form>
  
      </div>
      <a id="forgot" href="">Forgot Your Password?</a>
      </div>
      <div id="signUpContainer">
        <h1 id="loginFooter">Sign Up</h1>
        <p id="loginP">Welcome! It's quick and easy to set up an account.</p>
        <button id="signUpBtn">Create An Account</button>
      </div>
    </div>
      
    </div>