<nav id="bdgNav">
    <div id="BDGcontainer">
        <div id="BDGLogo" class="logo">
            <a href="/bdg"><img src="img/BDG-Logo-lines__3_.png" alt="BDG-Logo-lines__3_"></a>
        </div>
        <div id="shippingInfo">
            <p>Free Shipping & Returns* <a href="/shipping">Details</a></p>
        </div>
    </div>

    <ul id="bdgLinks" class="navLinks">
        <li>
            <a href="/rewards"><i class="fas fa-atom"></i> UO Rewards</a>
        </li>
       <!----------------------------------- 
       <li>
            <a href="#"><i class="fas fa-gift"></i> Gift Cards</a>
        </li>
        ---------------------------------->
        <li>
            <a id="signInBtn"><i class="far fa-user-circle"></i> Sign In</a>
        </li>
    </ul>
</nav>

<nav id="UOnav">
    <div id="UOlogo" class="logo">
        <a href="/">URBAN OUTFITTERS</a>
    </div>

    <ul class="navLinks">
        <li id="women" class="nav-item centerlink">
            <a href="/women"  class="nav-link">Women's</a>
        </li>
        <li id="men" class="nav-item centerlink">
            <a href="/men" class="nav-link">Men's</a>
        </li>
    <!-----------------------------------------------------------------    
        <li class="nav-item centerlink">
            <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item centerlink">
            <a href="#" class="nav-link">Lifestyle</a>
        </li>
    ------------------------------------------------------------------------>
        <li id="beauty" class="nav-item centerlink">
            <a href="/beauty" class="nav-link">Beauty</a>
        </li>
        <li id="sale" class="nav-item centerlink">
            <a href="/sale" class="nav-link" style="color:red">Sale</a>
        </li>
    </ul>

    <div id="searchContainer">
        <form>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <a href="/cart" class="nav-link"><i id="cart"class="fas fa-shopping-bag fa-lg"></i></a>
    </div>

</nav>

<%- include('login')  %> 