<nav id="bdgNav">
    <div id="BDGcontainer">
        <div id="BDGLogo" class="logo">
            <a href="bdg.html"><img src="img/BDG-Logo-lines__3_.png" alt="BDG-Logo-lines__3_"></a>
        </div>
        <div id="shippingInfo">
            <p>Free Shipping & Returns* <a href="shipping.html">Details</a></p>
        </div>
    </div>

    <ul id="bdgLinks" class="navLinks">
        <li>
            <a href="rewardsPage.html"><i class="fas fa-atom"></i> UO Rewards</a>
        </li>
       <!----------------------------------- 
       <li>
            <a href="#"><i class="fas fa-gift"></i> Gift Cards</a>
        </li>
        ---------------------------------->
        <li>
            <a href="#"><i class="far fa-user-circle"></i> Sign In</a>
        </li>
    </ul>
</nav>

<nav id="UOnav">
    <div id="UOlogo" class="logo">
        <a href="home.html">URBAN OUTFITTERS</a>
    </div>

    <ul class="navLinks">
        <li id="women" class="nav-item centerlink">
            <a href="/women"  class="nav-link">Women's</a>
            <div id="womenMenu" class="dropDown">
                <div class="shopCat">  
                    <ul>
                        <p><strong>Shop by Category</strong></p>
                        <li>
                            <a href="women.html">Shop All Women's</a>
                        </li>
                        <li>
                            <a href="">New</a>
                        </li>
                        <li>
                            <a href="">Dresses + Rompers</a>
                        </li>
                        <li>
                            <a href="">Tops</a>
                        </li>
                        <li>
                            <a href="">Jackets</a>
                        </li>
                        <li>
                            <a href="">Denim</a>
                        </li>
                        <li>
                            <a href="">Bottoms</a>
                        </li>
                        <li>
                            <a href="">Activewear</a>
                        </li>
                    </ul>
                    <ul>
                        <p style="opacity: 0; pointer-events: none;"> space </p>
                        <li>
                            <a href="">Intimates + Lounge</a>
                        </li>
                        <li>
                            <a href="">Swim</a>
                        </li>
                        <li>
                            <a href="">Vintage</a>
                        <li>
                            <a href="">Shoes</a>
                        </li>
                        <li>
                            <a href="">Accessories</a>
                        </li>
                        <li>
                            <a href="">Beauty</a>
                        </li>
                        <li>
                            <a href="">Sale</a>
                        </li>
                    </ul>
      <!------------------------------------------------- 
                    <ul style="border-left: 1px solid rgb(207, 207, 207); padding: 0px 30px 0px 20px;">
                        <p><strong>Featured</strong></p>
                        <li>
                            <a href="">Gone Camping</a>
                        </li>
                        <li>
                            <a href="">On The Road Again</a>
                        </li>
                        <li>
                            <a href="">Summer Checklist</a>
                        <li>
                            <a href="">Going Places</a>
                        </li>
                        <li>
                            <a href="">The Sun Shop</a>
                        </li>
                        <li>
                            <a href="">2000's Nostalgia</a>
                        </li>
                        <li>
                            <a href="">Selling Fast</a>
                        </li>
                        <li>
                            <a href="">The Music Shop</a>
                        </li>
                    </ul>
                    <ul style="border-left: 1px solid rgb(207, 207, 207); padding: 0px 30px 0px 20px;">
                        <p><strong>Brands</strong></p>
                        <li>
                            <a href="">The Ragged Priest</a>
                        </li>
                        <li>
                            <a href="">The North Face</a>
                        </li>
                        <li>
                            <a href="">Champion</a>
                        <li>
                            <a href="">Adam Selman Sport</a>
                        </li>
                        <li>
                            <a href="">Hosbjerg</a>
                        </li>
                        <li>
                            <a href="">Lisa Says Gah</a>
                        </li>
                        <li>
                            <a href="">BDG</a>
                        </li>
                        <li>
                            <a href="">Out from Under</a>
                        </li>
                    </ul> 
        ------------------------------------------------------------->
                </div>
            </div>
        </li>
        <li id="men" class="nav-item centerlink">
            <a href="men.html" class="nav-link">Men's</a>
            <div id="menMenu" class="dropDown">
                <div class="shopCat">  
                    <ul>
                        <p><strong>Shop by Category</strong></p>
                        <li>
                            <a href="men.html">Shop All Men's</a>
                        </li>
                        <li>
                            <a href="">New</a>
                        </li>
                        <li>
                            <a href="">Graphic Tees</a>
                        </li>
                        <li>
                            <a href="">Tops</a>
                        </li>
                        <li>
                            <a href="">Jackets</a>
                        </li>
                        <li>
                            <a href="">Bottoms</a>
                        </li>
                        <li>
                            <a href="">Activewear</a>
                        </li>
                    </ul>
                    <ul>
                        <p style="opacity: 0; pointer-events: none;"> space </p>
                        <li>
                            <a href="">Shoes</a>
                        </li>
                        <li>
                            <a href="">Accessories</a>
                        </li>
                        <li>
                            <a href="">Underwear + Lounge</a>
                        <li>
                            <a href="">Vintage</a>
                        </li>
                        <li>
                            <a href="">Sale</a>
                        </li>
                    </ul>
    <!--------------------------------------------------------------------------
                    <ul style="border-left: 1px solid rgb(207, 207, 207); padding: 0px 30px 0px 20px;">
                        <p><strong>Featured</strong></p>
                        <li>
                            <a href="">Gone Camping</a>
                        </li>
                        <li>
                            <a href="">The Sun Shop</a>
                        </li>
                        <li>
                            <a href="">The Music Shop</a>
                        <li>
                            <a href="">Summer Checklist</a>
                        </li>
                        <li>
                            <a href="">Resort Club</a>
                        </li>
                        <li>
                            <a href="">Tie-Dye</a>
                        </li>
                        <li>
                            <a href="">Summer Accessories Edit</a>
                        </li>
                    </ul>
                    <ul style="border-left: 1px solid rgb(207, 207, 207); padding: 0px 30px 0px 20px;">
                        <p><strong>Brands</strong></p>
                        <li>
                            <a href="">Polo Ralph Lauren</a>
                        </li>
                        <li>
                            <a href="">BDG</a>
                        </li>
                        <li>
                            <a href="">The North Face</a>
                        <li>
                            <a href="">Champion</a>
                        </li>
                        <li>
                            <a href="">Adidas</a>
                        </li>
                        <li>
                            <a href="">OBEY</a>
                        </li>
                        <li>
                            <a href="">Dickies</a>
                        </li>
                    </ul> 
                ------------------------------------------------------------------------>
                </div>
            </div>
        </li>
    <!-----------------------------------------------------------------    
        <li class="nav-item centerlink">
            <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item centerlink">
            <a href="#" class="nav-link">Lifestyle</a>
        </li>
    ------------------------------------------------------------------------>
        <li id="beauty" class="nav-item centerlink">
            <a href="beauty.html" class="nav-link">Beauty</a>
            <div id="beautyMenu" class="dropDown">
                <div class="shopCat">  
                    <ul>
                        <p><strong>Shop by Category</strong></p>
                        <li>
                            <a href="beauty.html">Shop All Beauty</a>
                        </li>
                        <li>
                            <a href="">New</a>
                        </li>
                        <li>
                            <a href="">Skin Care</a>
                        </li>
                        <li>
                            <a href="">Makeup</a>
                        </li>
                        <li>
                            <a href="">Hair</a>
                        </li>
                        <li>
                            <a href="">Beauty Tools + Tech</a>
                        </li>
                        <li>
                            <a href="">Perfume + Cologne</a>
                        </li>
                    </ul>
<!-------------------------------------------------------------------------------  
                    <ul>
                        <p style="opacity: 0; pointer-events: none;"> space </p>
                        <li>
                            <a href="">Health + Wellness</a>
                        </li>
                        <li>
                            <a href="">Nails</a>
                        </li>
                        <li>
                            <a href="">Bath + Body</a>
                        <li>
                            <a href="">Men's Grooming</a>
                        </li>
                        <li>
                            <a href="">Gift Sets</a>
                        </li>
                    </ul> 
            ---------------------------------------------------------------------------------------->                        
                </div>
            </div>
        </li>
        <li id="sale" class="nav-item centerlink">
            <a href="sale.html" class="nav-link" style="color:red">Sale</a>
            <div id="saleMenu" class="dropDown">
                <div class="shopCat">  
                    <ul>
                        <p><strong>Shop by Category</strong></p>
                        <li>
                            <a href="sale.html">Shop All Sale</a>
                        </li>
                        <li>
                            <a href="">Women's Sale</a>
                        </li>
                        <li>
                            <a href="">Men's Sale</a>
                        </li>
                    </ul>
                    <ul>
                        <p style="opacity: 0; pointer-events: none;"> space </p>
    <!----------------------------------------------------------------------------------  
                        <li>
                            <a href="">Home Sale</a>
                        </li>
                        <li>
                            <a href="">Lifestyle Sale</a>
                        </li> 
                    ---------------------------------------------------------------->
                        <li>
                            <a href="">Beauty Sale</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>

    <div id="searchContainer">
        <form>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <a href="cart.html" class="nav-link"><i id="cart"class="fas fa-shopping-bag fa-lg"></i></a>
    </div>

</nav>