<%- include('partials/header')  %> 
<title>Accessibility</title>
</head>

<body>
    <%- include('partials/nav')  %> 

    <div class="helpContainers">
        <h1>Accessibility</h1>
        <p>
          <strong>Website Accessibility</strong> <br> <br>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse sint aliquid magni omnis tempora aperiam saepe necessitatibus vitae beatae qui cumque odio, officiis nulla veritatis culpa amet dolorem consectetur! At?
          Recusandae, repellendus deserunt? Quibusdam provident dicta distinctio quod minus sunt, a quasi cumque sequi quia impedit aliquam fuga saepe, consectetur officiis laborum. Asperiores cum sed harum dolorem hic exercitationem temporibus.
          Placeat, labore perferendis! Tempora accusantium ratione itaque enim. Sequi vitae fugiat debitis placeat sunt quas alias consectetur ex, soluta modi id, officia at, est accusamus optio provident sapiente necessitatibus iusto!
          Officia architecto doloremque nobis cum repellendus ipsum veritatis placeat et consequuntur, fugit animi vitae dignissimos quaerat quis voluptatum facilis quidem vel harum magni a asperiores enim excepturi? Nesciunt, voluptatibus voluptatum?
          Error eum sit necessitatibus et, ipsam maxime! Inventore explicabo nemo corporis tempore aliquid, sequi soluta omnis animi veritatis saepe maiores natus eum amet optio ratione magnam numquam vero laboriosam nobis!
        </p>
      </div>
    
    <%- include('partials/footer')  %> 
    <script src="index.js"></script>
</body>
</html>