<%- include('partials/header')  %> 
<title>Afterpay</title>
</head>

<body>
    <%- include('partials/nav')  %> 

    <div class="helpContainers">
        <img src="https://images.ctfassets.net/q602vtcuu3w3/22jDLIwEgfpQPpurI8LmDF/9e6550c27e42d39f44629e3304b4c79b/UO_Afterpay_XL_1.jpg?w=1982&q=80&fm=webp" alt="">
        <h1>How it works...</h1>
        <div class="infoDiv">
          <div id="afterPayInfo" class="returnInfo">
            <h2>Cart</h2>
            <h2>Add your favorites to your cart.</h2>
          </div>
              <div id="afterPayInfo" class="returnInfo">
            <h2>Cart</h2>
            <h2>Select Afterpay at checkout.</h2>
          </div>
              <div id="afterPayInfo" class="returnInfo">
            <h2>Cart</h2>
            <h2>Log into or create your Afterpay account, with instant approval decision.</h2>
          </div>
            <div id="afterPayInfo" class="returnInfo">
            <h2>Cart</h2>
            <h2>Your puchase will be split into four payments, payable every two weeks.</h2>
          </div>
        </div>
      </div>
    
    <%- include('partials/footer')  %> 
    <script src="index.js"></script>
</body>
</html>