<%- include('partials/header')  %> 
<title>Beauty</title>
</head>

<body>
    <%- include('partials/nav')  %> 
    <div class="shopContainer">
        <!--
    <div class="browseBy">
        <strong>Browse by:</strong>
        <hr>
        <ul>
            <li><a href="">New</a></li>
            <li><a href="">Skin Care</a></li>
            <li><a href="">Makeup</a></li>
            <li><a href="">Hair</a></li>
            <li><a href="">Beauty Tools + Tech</a></li>            
            <li><a href="">Perfume + Cologne</a></li>
            <li><a href="">Health + Wellness</a></li>
            <li><a href="">Nails</a></li>
            <li><a href="">Bath + Body</a></li>
            <li><a href="">Men's Grooming</a></li>
            <li><a href="">Gift Sets</a></li>
            <li><a href="">Clean Beauty</a></li>
            <li><a href="">Sale</a></li>
        </ul>
        <strong>Filter by:</strong>
        <ul id="filterBy">
            <hr>
            <li>Size</li>
            <hr>
            <li>Color</li>
            <hr>
            <li>Brand</li>
            <hr>
            <li>Price</li>
            <hr>
        </ul>
        <p>Reset all filters</p>
    </div>
    -->
    <div class="listing">
        <div class="shopTitle">
            <div>
                <p style="font-size: 18px;">Beauty</p>
            </div>
            <div>
                <label for="sort">Sort: </label>
                <select name="sort" id="sort">
                    <option value="featured">Featured</option>
                    <option value="low">Price: Low to High</option>
                    <option value="high">Price: High to Low</option>
                    <option value="new">Newest</option>
                    <option value="rate">Highest Rated</option>
                </select>
            </div>
        </div>
        <div id="beautyListingRow" class="listingRow">
            <!--Filled in by index.js-->
        </div>
    </div>
</div>
<%- include('partials/footer')  %> 
<script src="index.js"></script>
</body>
</html>