<%- include('partials/header')  %> 
<title>boilerPlate</title>
</head>

<body>
    <%- include('partials/nav')  %> 


    
    <%- include('partials/footer')  %> 
    <script src="index.js"></script>
</body>
</html>