<%- include('partials/header')  %> 
<title>Contact</title>
</head>

<body>
    <%- include('partials/nav')  %> 

    <div class="helpContainers">
        <div class="infoDiv" id="returnInfoContainer">
         <div class="returnInfo">
           <img src="https://images.ctfassets.net/q602vtcuu3w3/3FqzdyfjThFXH0u6u069eN/a7d766675650d268838145c0c18b566a/XL_Phone.jpg?w=419&q=80&fm=webp" alt="">
           <h2>Phone</h2>
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem aliquam repudiandae officiis hic commodi quod, exercitationem corrupti molestiae maxime nostrum? Cum dolor facilis praesentium iure culpa unde tempora in nam.</p>
         </div>
         <div class="returnInfo">
                 <img src="https://images.ctfassets.net/q602vtcuu3w3/2B5Usv87rlAa1epcvo29Rk/3049df6a0cc84e76f0ec53046a73746c/XL_Social.jpg?w=419&q=80&fm=webp" alt="">
           <h2>Social</h2>
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem aliquam repudiandae officiis hic commodi quod, exercitationem corrupti molestiae maxime nostrum? Cum dolor facilis praesentium iure culpa unde tempora in nam.</p>
         </div>
         <div class="returnInfo">
                 <img src="https://images.ctfassets.net/q602vtcuu3w3/5giCaoKCQb5rEB7c4jN7GD/589ab1b8c809969ff6b7308f85c67759/XL_Chat.jpg?w=419&q=80&fm=webp" alt="">
           <h2>Chat</h2>
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem aliquam repudiandae officiis hic commodi quod, exercitationem corrupti molestiae maxime nostrum? Cum dolor facilis praesentium iure culpa unde tempora in nam.</p>
         </div>
       </div>
     </div>
    
    <%- include('partials/footer')  %> 
    <script src="index.js"></script>
</body>
</html>