<%- include('partials/header')  %> 
<title>Gift Cards</title>
</head>

<body>
    <%- include('partials/nav')  %> 

    <img src="https://images.ctfassets.net/q602vtcuu3w3/3BAQN6HidgpqvtsmU0P3vB/73191a95ad55041d6e44e250d7d026f1/21_APRIL_WK2_LP_GIFT-CARDS_RS_V25.jpg?w=2158&q=80&fm=webp" alt="gift card banner">
    <div class="helpContainers">
      <div class="infoDiv" style="flex-wrap:wrap; margin-top: 10px;">
        <img src="https://s7d5.scene7.com/is/image/UrbanOutfitters/40805285_000_d?$medium$&qlt=80&fit=constrain" alt="">
        <img src="https://s7d5.scene7.com/is/image/UrbanOutfitters/26611368_008_b?$medium$&qlt=80&fit=constrain" alt="">
        <img src="https://s7d5.scene7.com/is/image/UrbanOutfitters/26610923_004_d?$medium$&qlt=80&fit=constrain" alt="">
      </div>
    </div>
    
    <%- include('partials/footer')  %> 
    <script src="index.js"></script>
</body>
</html>