<%- include('partials/header')  %> 
<title>Urban Outfitters</title>
</head>
<body>
    <%- include('partials/nav')  %> 
    <div id="homeContainer" style="display: flex; flex-direction: row; width: 80%; margin: auto;">
        <div class="homeDisplay">
            <img src="https://images.ctfassets.net/q602vtcuu3w3/4eDjRvb9ZVES3eDjrsfkbM/ce14479bf15986eb74b1e61fff2532e4/210705-WK1-HP-1.jpg?w=1370&q=80&fm=webp" alt="">
            <p>WHAT TO WEAR: THE PERFECT PAIR</p>
            <a href="women">Shop the Look</a>
            <div style="display: flex; flex-direction: row;">
                <div>
                    <img src="https://images.ctfassets.net/q602vtcuu3w3/3qmon6d0qCQRO6j97OOJGv/d5e4ded5d8867b8c9a91dd10be8eb6eb/210705-WK1-HP-2.jpg?w=668&q=80&fm=webp" alt="">
                    <p>WHAT TO WEAR: THE PERFECT PAIR</p>
                    <a href="women">Shop the Look</a>
                </div>
                <div>
                    <img src="https://images.ctfassets.net/q602vtcuu3w3/8qC3jMOq6fImbTsmJVnc2/182fed98b03eb2512ade799bcacc76c8/210705-WK1-HP-3.jpg?w=668&q=80&fm=webp" alt="">
                    <p>WHAT TO WEAR: THE PERFECT PAIR</p>
                    <a href="men">Shop the Look</a>
                </div>
            </div>
            <img src="https://images.ctfassets.net/q602vtcuu3w3/44PAMvvjhzx3AUYet1bZLe/b680cd3d8c711bf8d902a9ef0cbe8897/210705-WK1-HP-4.jpg?w=1370&q=80&fm=webp" alt="">
            <p>ON CAMPUS</p>
            <a href="beauty">Shop Campus</a>
        </div>
        <div class="homeDisplay">
            <div style="padding-top: 0px;">
                <img src="https://images.ctfassets.net/q602vtcuu3w3/1OnHhqcYtePou6399Cr63G/769da7ce8021371d4674c4e88f36bbb2/210705-WK1-HP-5.jpg?w=700&q=80&fm=webp" alt="">
                <p>ENDLESS SUMMER DRESSES</p>
                <a href="women">Shop Dresses & Rompers</a>
            </div>
            <div>
                <img src="https://images.ctfassets.net/q602vtcuu3w3/2qQo6fasLzwVaYclqASH4E/bf6b07531dd84a518af006fdc10fbca9/210705-WK1-HP-6.jpg?w=700&q=80&fm=webp" alt="">
                <p>BEDDING SETS</p>
                <a href="beauty">Shop Bedding</a>
            </div>
            <div>
                <img src="https://images.ctfassets.net/q602vtcuu3w3/2ZKe0T5q8YwxHJ3MhjDZeV/858b06da627d80f20f91b8e434ace6a4/210705-WK1-HP-7.jpg?w=700&q=80&fm=webp" alt="">
                <p>NEW OUT FROM UNDER: THE SLEEP IN COLLECTION</p>
                <a href="women">Shop Out From Under</a>
            </div>
            <div>
                <img src="https://images.ctfassets.net/q602vtcuu3w3/6YdCWc9pWTIpWWjMJhhWLe/0c9ff5ff40e668bbf7965f98882ed664/210705-WK1-HP-8.jpg?w=700&q=80&fm=webp" alt="">
                <p>NEW COLLECTION</p>
                <a href="sale">Shop Vintage</a>
            </div>
        </div>        
    </div>

    <div id="homeBottom" style="display: flex; flex-direction: column; width: 80%; margin: auto;">
        <a href="sale"><img src="https://images.ctfassets.net/q602vtcuu3w3/5TTpbGtcZiQvabvmXKYMv6/94d1f22fd450bd2ad4fe711d5a940541/21_JUNE_WK2_NEW-TO-SALE_BANNER_EN-DT.jpg?w=2160&q=80&fm=webp" alt="sale to new"></a>

        <a href="https://www.urbn.com"><img src="https://images.ctfassets.net/q602vtcuu3w3/2lDz3EaWIIlu3oXGDOXUEM/08811be33fbb374a118cb0c7dd08b56c/XL_uo_community_web_blade-_1_new-2-APR.jpg?w=2160&q=80&fm=webp" alt="community"></a>

        <div id="articlesContainer" style="display: flex; flex-direction: row; padding-bottom: 30px;">
            <div>
                <img src="https://images.ctfassets.net/q602vtcuu3w3/2sr67JuCgEopqRcSWiO1iB/796cf54fa88e366b0d8ce0b22069434f/XL_HP_WK4_1.jpg?w=641&q=80&fm=webp" alt="">
                <p>UO x Converse: Skye Bennike</p>
                <a href="">Read More</a>
            </div>
            <div>
                <img src="https://images.ctfassets.net/q602vtcuu3w3/5oAA77EA8IIA2N1Bwlng7O/eb98d4e4760d721139468edc7410d66f/XL_HP_WK4_2.jpg?w=641&q=80&fm=webp" alt="">
                <p>UO Community: Getting to Know Artist Iye Yin Dae</p>
                <a href="">Read More</a>
            </div>
            <div>
                <img src="https://images.ctfassets.net/q602vtcuu3w3/7vV9w4n6TfqhlXlUVICVjz/f355ad43843539b774d0884e2227ac37/XL_HP_WK3_1.jpg?w=641&q=80&fm=webp" alt="">
                <p>UO Short Stories</p>
                <a href="">Read More</a>
            </div>
        </div>
        <hr>
        <div class="about">
            <p class="aboutTitle">About UO</p>
            <p id="UOabout" class="aboutInfo">Urban Outfitters is a lifestyle retailer dedicated to inspiring customers through a unique combination of product, creativity and cultural understanding. Founded in 1970 in a small space across the street from the University of Pennsylvania, Urban Outfitters now operates over 2...</p>
            <a class= "seeMore">See More</a>
        </div>
    </div>
    <%- include('partials/footer')  %> 

    <script src="index.js"></script>
</body>
</html>