<%- include('partials/header')  %> 
<body">
<%- include('partials/nav')  %> 
    
<div class="shopContainer">
    <div class="browseBy">
        <strong>Browse by:</strong>
        <hr>
        <ul>
            <li><a id="new" href="">New</a></li>
            <li><a href="">Graphic Tees</a></li>
            <li><a href="">Tops</a></li>
            <li><a href="">Jackets</a></li>
            <li><a href="">Bottoms</a></li>
            <li><a href="">Activewear</a></li>
            <li><a href="">Shoes</a></li>
            <li><a href="">Accessories</a></li>
            <li><a href="">Underwear + Lounge</a></li>
            <li><a href="">Grooming</a></li>
            <li><a href="">Vintage</a></li>
            <li><a href="">Sale</a></li>
        </ul>
        <strong>Filter by:</strong>
        <ul id="filterBy">
            <hr>
            <li>Size</li>
            <hr>
            <li>Color</li>
            <hr>
            <li>Brand</li>
            <hr>
            <li>Price</li>
            <hr>
        </ul>
        <p>Reset all filters</p>
    </div>
    <div class="listing">
        <div class="shopTitle">
            <div>
                <p style="font-size: 18px;">Men's Clothing</p>
            </div>
            <div>
                <label for="sort">Sort: </label>
                <select name="sort" id="sort">
                    <option value="featured">Featured</option>
                    <option value="low">Price: Low to High</option>
                    <option value="high">Price: High to Low</option>
                    <option value="new">Newest</option>
                    <option value="rate">Highest Rated</option>
                </select>
            </div>
        </div>
        <div id="menListingRow" class="listingRow">
            <!--Filled in by index.js-->
        </div>
    </div>
</div>

<%- include('partials/footer')  %> 
    <script src="index.js"></script>
</body>
</html>