<%- include('partials/header')  %> 
<title>Order + Payments</title>
</head>

<body>
    <%- include('partials/nav')  %> 

    <div class="helpContainers" id="orderPaymentsContainer">
        <div class="infoDiv" id="orderPaymentsHead">
          <a class="returnInfo" href="#orderStatus"><img src="https://images.ctfassets.net/q602vtcuu3w3/5dKdTfAeJUkOs08yqiAMaA/ab0c4b4a0a0eb51681ed1a0fccd9c0bf/Group_3.jpg?w=420&q=80&fm=webp" alt=""></a>
          <a class="returnInfo" href="#shippingProcess"><img src="https://images.ctfassets.net/q602vtcuu3w3/LskDxDtLumOuCGMWgQsQ8/a098e670ba1653001443bd492576d1cd/Group_7.jpg?w=420&q=80&fm=webp" alt=""></a>
          <a class="returnInfo" href="#acceptedPayment"><img src="https://images.ctfassets.net/q602vtcuu3w3/1dgzkJcJNYW8sEwSIucmQ/e5387e99f43fe185cac6b851fdf5f508/Group_8.jpg?w=420&q=80&fm=webp" alt=""></a>
        </div>
        <h1 id="orderStatus">Check Status and Track Your Order</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati consequatur asperiores, aliquam voluptate iure veritatis quia non porro laborum libero. Commodi vel porro totam assumenda ea tempora! Sunt, deserunt ipsam?
        Qui similique assumenda delectus maiores? Asperiores cumque, quae, eligendi facere debitis quasi doloremque ut quos, labore minima voluptatibus eius magnam nisi. Placeat, nesciunt inventore culpa molestias accusantium voluptates dolore voluptas.
        Quis aliquam quas, doloremque ducimus provident esse quae cum, nisi facilis rerum alias quidem sed! Debitis labore nisi dolorum, dolor blanditiis repellat vero quod, ipsa hic fugit inventore consectetur consequatur.
        Aut incidunt a id obcaecati rem quae amet? Numquam inventore hic omnis, rem harum natus sint consequatur culpa optio saepe ullam quas fuga ad quos, aperiam placeat nostrum, sapiente quis?
        Iste laborum nemo cum consequatur laboriosam quasi, debitis officia non neque tenetur libero iusto porro nulla? Dolorum, repudiandae. Beatae et voluptates ut a. Architecto molestias earum quis accusantium libero ut!</p>
        <h1 id="shippingProcess">Shipping Process</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati consequatur asperiores, aliquam voluptate iure veritatis quia non porro laborum libero. Commodi vel porro totam assumenda ea tempora! Sunt, deserunt ipsam?
        Qui similique assumenda delectus maiores? Asperiores cumque, quae, eligendi facere debitis quasi doloremque ut quos, labore minima voluptatibus eius magnam nisi. Placeat, nesciunt inventore culpa molestias accusantium voluptates dolore voluptas.
        Quis aliquam quas, doloremque ducimus provident esse quae cum, nisi facilis rerum alias quidem sed! Debitis labore nisi dolorum, dolor blanditiis repellat vero quod, ipsa hic fugit inventore consectetur consequatur.
        Aut incidunt a id obcaecati rem quae amet? Numquam inventore hic omnis, rem harum natus sint consequatur culpa optio saepe ullam quas fuga ad quos, aperiam placeat nostrum, sapiente quis?
        Iste laborum nemo cum consequatur laboriosam quasi, debitis officia non neque tenetur libero iusto porro nulla? Dolorum, repudiandae. Beatae et voluptates ut a. Architecto molestias earum quis accusantium libero ut!</p>
        <h1 id="acceptedPayment">Accepted Payment Methods</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati consequatur asperiores, aliquam voluptate iure veritatis quia non porro laborum libero. Commodi vel porro totam assumenda ea tempora! Sunt, deserunt ipsam?
        Qui similique assumenda delectus maiores? Asperiores cumque, quae, eligendi facere debitis quasi doloremque ut quos, labore minima voluptatibus eius magnam nisi. Placeat, nesciunt inventore culpa molestias accusantium voluptates dolore voluptas.
        Quis aliquam quas, doloremque ducimus provident esse quae cum, nisi facilis rerum alias quidem sed! Debitis labore nisi dolorum, dolor blanditiis repellat vero quod, ipsa hic fugit inventore consectetur consequatur.
        Aut incidunt a id obcaecati rem quae amet? Numquam inventore hic omnis, rem harum natus sint consequatur culpa optio saepe ullam quas fuga ad quos, aperiam placeat nostrum, sapiente quis?
        Iste laborum nemo cum consequatur laboriosam quasi, debitis officia non neque tenetur libero iusto porro nulla? Dolorum, repudiandae. Beatae et voluptates ut a. Architecto molestias earum quis accusantium libero ut!</p>
      </div>
    
    <%- include('partials/footer')  %> 
    <script src="index.js"></script>
</body>
</html>