<%- include('partials/header')  %> 
<title>Privacy Policy</title>
</head>

<body>
    <%- include('partials/nav')  %> 

    <div class="helpContainers">
        <h1>Privacy Policy</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, fugit tempore, nulla maiores incidunt enim quam voluptatum ratione inventore labore facere totam? Quas sequi esse porro blanditiis nostrum veniam. Ut.
        Quasi fuga non pariatur eaque veritatis. Dolore, a porro necessitatibus veniam unde dignissimos repellat alias tenetur quasi eius aliquam sint, tempore, cumque velit nostrum quod! Nesciunt ullam veritatis suscipit culpa?
        Exercitationem, fugiat vitae facilis voluptates ad perferendis veritatis praesentium, consequatur, nemo aliquid totam? Quaerat eaque illum veniam dolores adipisci blanditiis dolor vel, earum cum quibusdam recusandae optio quas suscipit aliquam?
        Porro nihil debitis itaque id voluptate natus? Ratione officiis optio consectetur dolorum? Veniam assumenda repudiandae minima, amet maiores hic perspiciatis accusantium, sapiente quasi sint ipsum consectetur culpa totam neque! Est.
        Dignissimos consectetur cum aperiam mollitia nesciunt sapiente fugit earum reiciendis aliquid enim inventore possimus ex eaque magnam, in exercitationem? Exercitationem fuga esse ex nulla commodi modi voluptas quibusdam debitis voluptatibus!</p>
      </div>
    
    <%- include('partials/footer')  %> 
    <script src="index.js"></script>
</body>
</html>