<%- include('partials/header')  %> 
<title>Returns + Exchanges</title>
</head>

<body>
    <%- include('partials/nav')  %> 
    <div class="helpContainers" id="returnContainer">
        <h1>Returns + Exchanges</h1>
        <div class="infoDiv" id="returnInfoContainer">
          <div class="returnInfo">
            <img src="https://images.ctfassets.net/q602vtcuu3w3/4HaFIXMUVyW4Yy8aICM4yg/1da06db49f1931c89f94b72571d2a209/Group_7.jpg?w=420&q=80&fm=webp" alt="">
            <h2>Returning & Exchanging Online Orders</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem aliquam repudiandae officiis hic commodi quod, exercitationem corrupti molestiae maxime nostrum? Cum dolor facilis praesentium iure culpa unde tempora in nam.</p>
          </div>
          <div class="returnInfo">
                  <img src="https://images.ctfassets.net/q602vtcuu3w3/1gr2pqYEEg00mMcEyME06W/3b0e901e3e4eb0fb443da4df88370c1d/Group_8.jpg?w=420&q=80&fm=webp" alt="">
            <h2>Returning In-Store Purchases</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem aliquam repudiandae officiis hic commodi quod, exercitationem corrupti molestiae maxime nostrum? Cum dolor facilis praesentium iure culpa unde tempora in nam.</p>
          </div>
          <div class="returnInfo">
                  <img src="https://images.ctfassets.net/q602vtcuu3w3/6AlfSrBxEkkmqoiIwOqwsW/ccd6fa6ee162b2b2a641dea333f7a107/Group_9.jpg?w=420&q=80&fm=webp" alt="">
            <h2>Returning Furniture</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem aliquam repudiandae officiis hic commodi quod, exercitationem corrupti molestiae maxime nostrum? Cum dolor facilis praesentium iure culpa unde tempora in nam.</p>
          </div>
        </div>
        <h1>Returns Policy</h1>
        <h2>Return or exchange any unused or defective merchandise by mail or at one of our US or Canada store locations. Returns made within 30 days of the order delivery date will be issued a full refund to the original form of payment. Returns made after 30 days of the order delivery date will be refunded via an emailed e-merchandise credit. Made to order items cannot be exchanged or returned.</h2>
        <h1>Online Orders</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati consequatur asperiores, aliquam voluptate iure veritatis quia non porro laborum libero. Commodi vel porro totam assumenda ea tempora! Sunt, deserunt ipsam?
        Qui similique assumenda delectus maiores? Asperiores cumque, quae, eligendi facere debitis quasi doloremque ut quos, labore minima voluptatibus eius magnam nisi. Placeat, nesciunt inventore culpa molestias accusantium voluptates dolore voluptas.
        Quis aliquam quas, doloremque ducimus provident esse quae cum, nisi facilis rerum alias quidem sed! Debitis labore nisi dolorum, dolor blanditiis repellat vero quod, ipsa hic fugit inventore consectetur consequatur.
        Aut incidunt a id obcaecati rem quae amet? Numquam inventore hic omnis, rem harum natus sint consequatur culpa optio saepe ullam quas fuga ad quos, aperiam placeat nostrum, sapiente quis?
        Iste laborum nemo cum consequatur laboriosam quasi, debitis officia non neque tenetur libero iusto porro nulla? Dolorum, repudiandae. Beatae et voluptates ut a. Architecto molestias earum quis accusantium libero ut!</p>
      </div>    
    <%- include('partials/footer')  %> 
    <script src="index.js"></script>
</body>
</html>