*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.75px;
}

@font-face {
    font-family: League;
    src: url(urban-outfitters-font/League\ Gothic.otf);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 11%;
    padding-right: 11%;
}

#BDGcontainer, #searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bdgNav {
    background-color: rgb(240, 240, 240);
}

#BDGLogo {
    padding-right: 20px;
    border-right: 1px solid rgb(207, 207, 207);
}

#UOnav {
    border-bottom: 1px solid rgb(207, 207, 207);
}

#UOlogo a{
    font-family: League;
    font-size: 2.3vw;
    max-width: 100%;
    height: auto;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.navLinks {
    display: flex;
    justify-content: space-around;
    width: 400px;
    font-size: 14px;
}

.navLinks a, #UOlogo a{
    text-decoration: none;
    color: black;
}

.dropDown {
    border: 1px solid rgb(207, 207, 207); 
    padding: 20px; 
    position: absolute; 
    margin-top: 21px;
    background-color: white; 
    width: 500px; 
    display: none;
    flex-direction: column; 
    justify-content: space-between; 
    z-index: 999;
}

.dropDown div ul li{
    padding: 7px 0px;
}

.dropDown div ul{
    list-style: none;
}

.shopCat{
    display: flex;
    flex-direction: row;
}

.shopCat ul{
    margin-right: 9vw;
}

.shopCat ul li a{
    color: black;
    text-decoration: none;
}

#shippingInfo a:hover{
    text-decoration: none;
}

.navLinks li{
    list-style: none;
}

#shippingInfo, #shippingInfo a{
    color: rgb(121, 121, 121);
}

#shippingInfo{
    padding-left: 20px;
}

#bdgLinks {
    font-size: 14px;
    width: 250px;
}

#bdgLinks a:hover, #cart:hover, .shopCat ul li a:hover{
    opacity: 0.6;
}

.centerlink{
    padding-bottom: 20px;
    padding-top: 20px;
}

.centerlink:hover{
    border-bottom: 1px solid rgb(121, 121, 121);
}

.centerlink a:hover {
    opacity: 0.6;
}

input{
    padding: 10px;
}

#cart {
    color:black;
    padding-left: 25px;
}

#banner {
    width: 85%;
    margin: auto;
    color: white;
    padding-top: 30px;
}

#banner img{
    cursor: pointer;
}

.bannerText{
    position: absolute;
    top: 25vw;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 99;
    cursor: pointer;
}

.bannerText p{
    position: relative;
    font-family: League;
    font-size: 10vw;
    margin: auto;
}

.bannerText:hover, #UOimage:hover, #joinNow:hover, .joinNowText:hover, .imgJoin:hover, #one:hover {
    opacity: 0.8;
}

#UOimage {
    -backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

img {
    max-width: 100%;
    display: inline-block;
}

#joinNow {
    background-color: #dbb300;
    font-family: sans-serif;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    margin-top: 0%;
}

.joinNowText {
    display: inline-block;
    cursor: pointer;
    margin: 0%;
    padding: 0%;
    font-size: 30px;
    z-index: 99;
}

#rewardContainer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.rewardSteps {
    display: flex;
    flex-direction: column;
}

.rewardText {
    margin: auto;
    width: 20vw;
}

.courier P{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1.5px;
    font-size: 12px;
    padding: 30px;
}

#rewardNum {
    display: flex;
}

#joinUORewards, #getThosePoints{
    position: relative;
    text-align: center;
    color: white;
}

 h1 {
    font-size: 30px;
    padding: 5px;
    top: 10%;
}

#joinUOtext, #getText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

#numbers, .imgJoin{
    padding-bottom: 50px;
}

.circle {
    width: 50px; 
    height: 50px; 
    border-radius: 25px; 
    margin: auto;
}

#one {
    background: rgb(0,186,169);
    background: linear-gradient(228deg, rgba(0,186,169,1) 36%, rgba(0,247,225,1) 86%);
    cursor: pointer;
}

#two {
    background: rgb(24,179,0);
    background: linear-gradient(228deg, rgba(24,179,0,1) 36%, rgba(23,218,0,1) 86%);
}

#bottomInfoGetText {
    width: 60%;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}

#bottomInfoGetText p{
    font-family: 'Courier New', Courier, monospace;
    
}

.howRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 15px;
}

.howRow div{
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    height: 8vw;
    width: 18vw;
    justify-content: center;
    align-items: center;
}

#stepThreeContainer {
    display: flex;
    flex-direction: row;
    padding: 30px 0px;
}

.stepThree {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left: 4%;
}

#fiveDollars {
    background: rgb(217,182,0);
    background: linear-gradient(228deg, rgba(217,182,0,1) 36%, rgba(232,222,69,1) 86%);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    justify-content: center;
    color: white;
    filter: drop-shadow(2px 2px 4px #000000);
}

#fiveDollars p{
    font-size: 15px;
    padding: 0px 5px 10px 5px
}

#fiveDollars h1 {
    font-size: 50px;
}

#three {
    background: rgb(217,182,0);
    background: linear-gradient(228deg, rgba(217,182,0,1) 36%, rgba(232,222,69,1) 86%);
    color: white;
}

/* 
FOOTER CSS is below 
*/

#footer{
    background-color:rgb(240, 240, 240);
    margin: 0;
    padding: 0;
  }
  
  #emailContainer{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(207, 207, 207);
    border-top: 1px solid rgb(207, 207, 207);
    padding: 35px 15vw;
  }
  
  #emailInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  #emailInfo div{
    width: 32vw;
  }
  
  #emailInput {
    height: 35px;
    width: 300px;
  }
  
  #emailSubmit {
    height: 40px;
    width: 100px;
    background-color: black;
    color: white;
  }
  
  #emailSubmit:hover{
    opacity: 0.6;
    cursor: pointer;
  }
  
  #disclaimer, #copyright, #socials{
    display: flex;
    justify-content: center;
    padding: 10px 0px
  }
  
  #externalLinks {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 20vw;
  }
  
  #disclaimer, #copyright{
    font-size: 12px;
  }
  
  #disclaimer a, #externalLinks a, #socials a{
    text-decoration: none;
    color: black;
  }
  
  #externalLinks li{
    list-style: none;
    line-height: 2;
  }
  
  #storeLocator a:hover{
    text-decoration:underline;
  }
  
  .mainExternal a:hover, #disclaimer a:hover, #socials a:hover{
    opacity:0.6;
  }
  
  #disclaimer a{
    padding: 0px 10px;
    border-left: 1px solid rgb(207, 207, 207);
    font-size: 10px;
  }
  
  #socials div{
    padding: 30px 10px;
  }
  
  #socials a{
    padding: 0px 10px
  }

/*
home.html css
*/
#homeContainer img, #homeContainer a, #homeContainer p, #homeBottom img, #articlesContainer a, #articlesContainer p, .aboutTitle{
    padding: 8px;
    color: black;
}

#homeContainer div{
    padding: 15px 0px;
}

#homeContainer a:hover, #homeBottom a:hover{
    text-decoration: none;
}

.aboutTitle {
    font-size: 15px; 
}

.about {
    padding: 10px 0px;
}

.aboutInfo, .about a{
    color: rgb(121, 121, 121);
    padding: 8px;
}

/* 
women.html, men.html css 
*/

  .listingRow {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
  }

  .itemListing {
    padding: 10px;
    display: flex; 
    flex-direction: column;
  }

  .itemListing img{
    cursor: pointer;
    width: 349px;
    height: auto;
    max-height: 524px;
  }

  .browseBy, .shopTitle{
    padding: 10px;
  }

  .browseBy{
    width: 300px;
    margin-right: 1vw;
    display: flex; 
    flex-direction: column;
  }

  .shopTitle{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
  }

  .shopTitle select{
    height: 35px; 
    width: 8vw;
    font-size: 15px;
  }

  .shopContainer{
    display: flex; 
    flex-direction: row;
    width: 80%;
    margin: auto;
  }

  .shopContainer a, .shopContainer li{
    text-decoration: none;
    color: black;
    list-style: none;
    line-height: 2.5;
  }

  .shopContainer a:hover, .shopContainer li:hover{
    opacity: 0.6;
    cursor: pointer;
  }

  .shopContainer ul{
    padding: 10px 0px;
  }

  #filterBy li{
    padding: 10px 0px;
    font-size: 14px;
  }